*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito','sans-serif';
}


.title{
    font-weight: 800;
}

.header{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 24px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
    /* background-color: yellow; */
}

.countries-container{
    max-width: 1280px;
    margin:50px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.country-card{
    display: inline-block;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

.country-card{
    text-decoration-line: none;
    color: #000;
}

.country-card img{
    width: 100%;
}

.cardText{
    padding: 16px;
}

.country-name{
    padding-block: 8px;
}

.country-card:hover{
 transform: scale(1.05);
 box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width:768px) {
    .countries-container{
        max-width: 1280px;
        margin:50px auto 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    
}